$containerBgColor:#1db871;
$defaultColorW: #fff;
$itemFontColor: #333;
$itemHoverColor: #eee;
$itemDoneColor: #40b17d;
$inputBgColor: #ddd;
$operateColor: #888;
$addBtnColor: #ffe524;
$addBtnHoverColor: #ffb100;